<template>
  <div v-if="municipio">
    {{ $t('town.choose_town') }}
    <select @change="setTiempo()" v-model="municipioLocal">
      <option v-for="municipio in municipios"
              :key="municipio.COD_GEO"
              :value="municipio.COD_GEO">
        {{ municipio.NOMBRE }}
      </option>
    </select>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  beforeUpdate() {
    this.getMunicipios();
  },
  data() {
    return {
      municipios: [],
      municipioLocal: null
    }
  },
  computed: {
    municipio() {
      return this.$store.state.municipio;
    }
  },
  methods: {
    getMunicipios() {
      axios.get('https://www.el-tiempo.net/api/json/v1/provincias/' + this.municipio + '/municipios')
           .then((respuesta) => {
        this.municipios = respuesta.data;
      });
    },
    setTiempo() {
      this.$store.state.tiempo = this.municipioLocal;
    }
  }
}
</script>
