<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
      <div class="form-inline">
        <a class="mr-2" @click="cambiarIdioma('es')"><img src="../assets/es.jpg"></a>
        <a @click="cambiarIdioma('en')"><img src="../assets/en.jpg"></a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</template>

<script>
export default {
  methods: {
    cambiarIdioma(idioma) {
      this.$i18n.locale = idioma;
    }
  }
}
</script>
