<template>
  <div>
    {{ $t('province.choose_province') }}
    <select @change="setMunicipio()" v-model="provincia">
      <option v-for="provincia in provincias"
              :key="provincia.CODPROV"
              :value="provincia.CODPROV">
        {{ provincia.NOMBRE_PROVINCIA }}
      </option>
    </select>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  mounted() {
    this.getProvincias();
  },
  data() {
    return {
      provincias: [],
      provincia: null
    }
  },
  methods: {
    getProvincias() {
      axios.get('https://www.el-tiempo.net/api/json/v1/provincias').then((respuesta) => {
        this.provincias = respuesta.data;
      });
    },
    setMunicipio() {
      this.$store.state.municipio = this.provincia;
    }
  }
}
</script>
