<template>
  <div v-if="tiempo">
    <div v-for="tiempo in metereologia" :key="tiempo.id">
      <h4 class="text-muted mt-4 text-center">{{ tiempo['@attributes'].fecha }}</h4>
      <div class="row">
        <div class="col-md-4 text-right"><h5>{{ $t('time.temperature') }}</h5></div>
        <div class="col-md-4 text-right">{{ $t('time.max') }}: {{ tiempo.temperatura.maxima }} ºC</div>
        <div class="col-md-4 text-left">{{ $t('time.min') }}: {{ tiempo.temperatura.minima }} ºC</div>
      </div>

      <div class="row">
        <div class="col-md-4 text-right"><h5>{{ $t('time.thermal_sensation') }}</h5></div>
        <div class="col-md-4 text-right">{{ $t('time.max') }}: {{ tiempo.sens_termica.maxima }} ºC</div>
        <div class="col-md-4 text-left">{{ $t('time.min') }}: {{ tiempo.sens_termica.minima }} ºC</div>
      </div>

      <div class="row">
        <div class="col-md-4 text-right"><h5>{{ $t('time.relative_humidity') }}</h5></div>
        <div class="col-md-4 text-right">{{ $t('time.max') }}: {{ tiempo.humedad_relativa.maxima }} ºC</div>
        <div class="col-md-4 text-left">{{ $t('time.min') }}: {{ tiempo.humedad_relativa.minima }} ºC</div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  beforeUpdate() {
    this.getTiempo();
  },
  data() {
    return {
      metereologia: [],
      tiempoLocal: null
    }
  },
  computed: {
    tiempo() {
      return this.$store.state.tiempo;
    },
    municipio() {
      return this.$store.state.municipio;
    }
  },
  methods: {
    getTiempo() {
      axios.get('https://www.el-tiempo.net/api/json/v1/provincias/' + this.municipio + '/municipios/' + this.tiempo + '/weather')
           .then((respuesta) => {
        this.metereologia = respuesta.data.prediccion.dia.slice(0,3);
      });
    }
  }
}
</script>
