<template>
  <div>
    <navbar></navbar>
    <div class="container mt-5">
      <div class="row text-center">
        <div class="col">
          <provincia></provincia>
        </div>
        <div class="col">
          <municipio></municipio>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <tiempo></tiempo>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Provincia from './components/Provincia'
import Municipio from './components/Municipio'
import Tiempo from './components/Tiempo'
import Navbar from './components/Navbar'

export default {
  components: {
    Provincia,
    Municipio,
    Tiempo,
    Navbar
  }
}
</script>
